:root {
    --border-color: rgb(216, 214, 214);
    --buttoncolor: #f5f5f5;
    --bg-color-result : #f5f5f5;
    --color-explain: rgba(0, 0, 0, 0.5);
}


*{
    margin: 0;    
}

.drink-pricing-calculator{
    margin:  50px auto;
    /* 사이트 크기에 따라 width 100%혹은 내부 값을 바꾸세요 */
    max-width: 800px;
    display:  flex;
    justify-content: center;
}

.drink-pricing-calculator > #input-field{
    max-width: 300px;
    flex : 1;
}

.drink-pricing-calculator > #input-field hr{

    margin:20px 0 40px 0  ;
}

.drink-pricing-calculator > #input-field > div:not(#default){
    display: none;
    position: relative;
    padding: 20px  0;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.drink-pricing-calculator >  #input-field > div > icon{
 position: absolute;
 font-size: 2rem;
 right: 0;
 top: 35px;
 font-weight: bold;
 padding: 0 10px;
 cursor: pointer;
}


.drink-pricing-calculator > #input-field h3{
    margin:20px 0 ;
}

.drink-pricing-calculator > #input-field > label{
    padding: 10px 10px 5px 5px;
  
}
.drink-pricing-calculator > #input-field  input,
.drink-pricing-calculator > #input-field select{
    padding: 15px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin: 10px 0 15px 0 ;
    box-sizing: border-box;

    text-align: right;
}

.drink-pricing-calculator > #input-field  select{
   text-align: center !important;
   cursor: pointer;
    margin: 10px 0 0 0 !important;

}

.drink-pricing-calculator > #input-field   input[type=button]{
    text-align: center !important;
    cursor: pointer;
    margin: 10px 0 0 0 !important;
    background-color: var(--buttoncolor);
}

.drink-pricing-calculator > #input-field > #drinks input[type=radio]{
    width: 10%;
    margin: 30px 0 50px 0 ;
}



.drink-pricing-calculator > #result-field {
    flex: 1;
    background-color: var(--bg-color-result);
    margin: 15px 15px 0;
    min-height: 200px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.drink-pricing-calculator > #result-field div:not(#default-mode-explain ){
   display: none;
}

.drink-pricing-calculator > #result-field div:not(#calculator-result ){
    color: var(--color-explain) !important;
}


.drink-pricing-calculator > #result-field > div > p{
    padding: 10px 0;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .drink-pricing-calculator{
        display: block;
    }
    .drink-pricing-calculator > #input-field{
        margin:  0 auto;
        width: 100%;
    }
}
